<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section>
      <!-- place holder for broadcast message from websocket (Rails channel) -->
      <div id="message-container" class="jumbotron">
        <p id="message-bar" class="text-info"></p>
      </div>

      <div class="container">
        <div class="page-header">
          <h1>to be filled</h1>
        </div>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
